<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css">
    <script th:src="@{javascript/pageScripts/ratingScript.js}"></script>
    <script src="javascript/Apis/spotifyRepo.js"></script>
    <script src="javascript/Apis/CoverartArchiveRepo.js"></script>
    <script src="javascript/Apis/newsAPI.js"></script>
    <script src="javascript/Apis/eventfulAPI.js"></script>
    <script src="javascript/utilScripts/jquery.nicescroll.min.js"></script>
    <script src="javascript/pageScripts/artist.js"></script>
    <script src="javascript/Apis/wikiRepo.js"></script>
    <script src="javascript/pageScripts/favoriteScript.js"></script>
    <title th:text="${artist.name}">Artist</title>
    <style type="text/css">
        .loader {background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.dribbble.com%2Fusers%2F65451%2Fscreenshots%2F2922226%2Fslider.gif&f=1&nofb=1') 50% 50% no-repeat rgba(0,0,0,0);}

        /* The heart of the matter */
        .scrollable > .row {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        .scrollable > .row > .news {
            display: inline-block;
            white-space: normal;
        }
    </style>
</head>
<body class="bg-secondary">
<input id="mbid" type="hidden" th:value="${artist.id}">
<div style="display: none" id="userName" sec:authentication="name"></div>
<div th:insert="@{header.html}"></div>
    <div id="banner" class="section bg-dark card">
        <div class="container">
            <div class="row">
                <div class="col-sm mb-2">
                    <div class="row">
                        <h1 id="artistName" th:text="${artist.name}" class="display-4 text-light"></h1>
                        <a sec:authorize="!isAnonymous()" id="favoriteArtist"><h3 style="color: #ffc107" data-toggle="tooltip" data-placement="right" title="Click to add or remove favorite" id="favoriteIcon" class="mt-4 ml-3 far fa-heart"></h3></a>
                        <div id="favoriteFeedback" style="display: none" class="ml-3 mt-3 alert alert-success alert-dismissible" role="alert">
                            <div id="feedbackText"></div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="text-muted" th:if="${artist.bandMembers != null && !artist.bandMembers.isEmpty()}">
                        <span class="text-light">Members: </span>
                        <th:block th:each="member : ${artist.bandMembers}">
                            <a th:href="'artist?id='+${member.id}" class="ml-3"><span th:text="${member.name}"></span></a>
                        </th:block>
                    </div>
                    <div class="text-muted" th:if="${artist.associatedBands != null && !artist.associatedBands.isEmpty()}">
                        <span class="text-light">Bands: </span>
                        <th:block th:each="bands : ${artist.associatedBands}">
                            <a th:href="'artist?id='+${bands.id}" class="ml-3"><span th:text="${bands.name}"></span></a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-3">
                    <div class="card">
                        <img id="artistImage" class="rounded card-img-top" src="img/blank.png" alt="Missing artist image">
                    </div>
                    <div style="text-align: center">Average rating: <span id="artistRating"></span> <i class="fas fa-star star"></i></div>
                    <form id="artistRatingForm">
                        <div class="pt-2">
                            <input type="radio" class="star-input" name="rating" id="star-1" value="1" >
                            <label for="star-1" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-2" value="2">
                            <label for="star-2" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-3" value="3">
                            <label for="star-3" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-4" value="4">
                            <label for="star-4" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-5" value="5" checked>
                            <label for="star-5" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-6" value="6">
                            <label for="star-6" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-7" value="7">
                            <label for="star-7" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-8" value="8">
                            <label for="star-8" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-9" value="9">
                            <label for="star-9" class="star"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star-input" name="rating" id="star-10" value="10">
                            <label for="star-10" class="star"><i class="fas fa-star"></i></label>
                            <button type="submit" th:disabled="${#authorization.expr('isAnonymous()')}" class="ml-2 btn btn-sm btn-outline-warning">Rate</button>
                            <div sec:authorize="isAnonymous()">Log in to rate</div>
                            <div id="ratingFeedback" style="display: none" class="alert alert-success" role="alert"></div>
                        </div>
                    </form>
                        <div id="showtext">

                        </div>
                     </div>
                <div class="col-5">
                    <div class="card">
                        <div id="module" class="card-body container">
                            <h4 class="card-title text-warning">Biography</h4>
                            <p th:data-value="${artist.wiki}" class="collapse text-light" id="description" aria-expanded="false">
                                No Biography Found.
                            </p>
                            <a role="button" class="collapsed text-primary btn btn-sm" data-toggle="collapse" href="#description" aria-expanded="false" aria-controls="description">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body container">
                            <h4 class="card-title text-warning" >Information</h4>
                            <div>
                                <b class="text-warning">Type: </b>
                                <td class="text-light" th:switch="${artist.type}">
                                    <span th:case="'Group'">Band</span>
                                    <span th:case="'Person'">Soloist</span>
                                </td>
                            </div>
                            <div th:if="${artist.type != null}">
                                <b><th:span th:if="${!#strings.startsWith(artist.type ,'Group')}" th:unless="${artist.gender == null}" class="text-warning">Gender: </th:span></b>
                                <th:span class="text-light" th:if="${not #strings.startsWith(artist.type ,'Group')}" th:text="${artist.gender}"></th:span>
                            </div>
                                <div>
                                    <b class="text-warning">Life span: </b>
                                    <span class="text-light" th:text="${artist.beginDate?.getYear()?:'unknown'}+' - '+${artist.endDate?.getYear()?:'present'}"></span>
                                </div>
                                <div th:unless="${artist.founded == null}">
                                <b>
                                    <td class="text-light" th:switch="${artist.type}">
                                        <span class="text-warning" th:case="'Group'">Formed in:</span>
                                        <span class="text-warning" th:case="'Person'">Born: </span>
                                    </td>
                                </b>
                                <span class="text-light"  th:text="${artist.founded}"></span>
                                </div>
                                <div th:unless="${artist.area == null}">
                                    <b>
                                        <span class="text-warning"  >Founded in: </span>
                                    </b>
                                    <span class="text-light"  th:text="${artist.area}"></span>
                                </div>
                                <div>

                                <div class="text-light" id="genres">
                                    <b>
                                    <span class="text-warning"  >Genres: </span>
                                    </b>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="section card container-fluid" id="content" style="background-color: #313335">
        <div class="row">
            <div class="col p-0 col-lg-6" id="albumColumn">
                <ul  class="nav nav-tabs" id="releasesTab" role="tablist">
                    <li class="nav-item" th:each="releaseTypes:${releases.keySet()}">
                        <a class="nav-link" data-toggle="tab" role="tab" th:href="'#' + ${releaseTypes}" th:text="${releaseTypes} + 's'"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="releasesTab tab-pane fade" th:each="albums:${releases.keySet()}" th:id="${albums}" role="tabpanel">
                        <div id="albumsCollection" class="scrollable p-3 col">
                            <div id="albumScroll" class="scroller row">
                                <div th:each=" album, count : ${releases.get(albums)}" class="col-3 mx-3 p-0 text-light container align-top" style="display: inline-block">
                                    <p class="text-center p-0 m-0" th:text="${album.releaseDate?.getYear()}"></p>
                                    <form class="albumLink" action="/album" method="get">
                                        <div class="card" style="border:none">
                                            <!--<a data-toggle="collapse" th:href="'#'+${count.count}" role="button" aria-expanded="false" aria-controls="collapseExample"> -->
                                                <div class="albums loader scaled card-body p-0">
                                                    <img class="album rounded card-img-top" th:id="${album.mbid}" src="/img/blank.png" alt="Missing cover art">
                                                </div>
                                            <!-- </a> -->
                                        </div>
                                        <input type="hidden" name="id" th:value="${album.getMbid()}">
                                    </form>
                                    <div style="white-space: initial">
                                        <h5 class="card-text text-center" th:text="${album.title}"></h5>
                                        <div class="text-center">Average rating: <span class="avg_rating" th:value="${album.mbid}" th:id="'albumRating_' + ${album.mbid}"></span></div>
                                        <form sec:authorize="!isAnonymous()" class="album-rating" th:id="${album.mbid}">
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '1'" value="1" >
                                            <label th:for="${album.mbid} + '1'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '2'" value="2">
                                            <label th:for="${album.mbid} + '2'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '3'" value="3">
                                            <label th:for="${album.mbid} + '3'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '4'" value="4" >
                                            <label th:for="${album.mbid} + '4'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '5'" value="5">
                                            <label th:for="${album.mbid} + '5'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '6'" value="6">
                                            <label th:for="${album.mbid} + '6'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '7'" value="7">
                                            <label th:for="${album.mbid} + '7'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '8'" value="8" >
                                            <label th:for="${album.mbid} + '8'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '9'" value="9">
                                            <label th:for="${album.mbid} + '9'" class="star"><i class="fas fa-star"></i></label>
                                            <input type="radio" class="album-input" name="albumRating" th:id="${album.mbid} + '10'" value="10">
                                            <label th:for="${album.mbid} + '10'" class="star"><i class="fas fa-star"></i></label>
                                            <button type="submit" class="ml-2 btn btn-sm btn-outline-warning">Rate</button>
                                        </form>
                                        <div th:id="'albumRatingFeedback_' + ${album.mbid}" style="display: none" class="mt-2 alert alert-success" role="alert"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-0 col-lg-6" id="extraInfo">
                <div class="section bg-dark card" id="newsContainer">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="container">
                                    <h3 class="text-light"><a th:href="@{~/concerts(artist=${artist.name})}">Concerts</a></h3>
                                </div>
                                <div>
                                <ul class="list-group list-group-flush text-light row concerts">
                                </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container">
                                    <h3 class="text-light"><a th:href="@{/news(artist=${artist.name})}">News</a></h3>
                                </div>
                                <ul id="news" class="list-group text-light row"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="loader" class="center"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js" integrity="sha512-YKERjYviLQ2Pog20KZaG/TXt9OO0Xm5HE1m/OkAEBaKMcIbTH1AwHB4//r58kaUDh5b1BWwOZlnIeo0vOl1SEA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>