<html>
<script src="javascript/utilScripts/searchBar.js"></script>
<body>
<div class="container-fluid" style="position:sticky; z-index:1000; top:0; background-color:#000000;">
    <div class="row">
        <div class="navbar-brand px-4"><a href="/"><img src="/img/Logo.png" class="img-fluid d-inline-block align-top" style="max-height: 2em" alt=""></a>            </div>
        <div class="col input-group" style="text-align: center">
            <input id="searchQuery" class="form-control input-group-text" type="search" placeholder="Search" aria-label="Search" style="border:none; height:3em; background-color:#000000">
            <div class="input-group-append">
                <select class="custom-select" id="searchType" style="height:3em; border:none; background-color: black">
                    <option selected value="artist">Artist</option>
                    <option value="album">Album</option>
                    <option disabled value="track">Track</option>
                </select>
            </div>
        </div>
    </div>
    <nav class="row justify-content-between">
        <div class="col text-left">
            <a class="headerLink btn" href="/">Home</a>
            <a class="headerLink btn" href="/news">News</a>
            <a class="headerLink btn" href="/concerts">Concerts</a>
            <a class="headerLink btn" >Albums</a>
            <a class="headerLink btn">Artists</a>
        </div>
        <div class="col text-right">
            <a class="headerLink btn bg-transparent" sec:authorize="!isAuthenticated()" href="/login">Login</a>
            <a class="headerLink btn bg-transparent" sec:authorize="!isAuthenticated()" href="/register">Register</a>
            <a class="headerLink btn bg-transparent" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
            <a class="headerLink btn bg-transparent" sec:authorize="isAuthenticated()" href="/profile">Profile</a>
        </div>
    </nav>
    <div id="searchResults" class="row bg-item" style="display: none">
        <ul id="searchList" class="p-0 m-0 w-100"></ul>
        <div class="w-100 p-0" style="cursor:pointer; text-align:center; height:1em" onclick="hideResults()">
            <img class="align-top" style="height:100%; width:auto;" src="/img/triangle.png"></div>
    </div>
</div>

<style>
    .headerLink{
        padding: 0 10px;
        color: rgba(255,255,255, 0.5)
    }
    .headerLink:hover{
        color: rgba(255,255,255,1);
    }
    .headerLink:active{
        color: #ffffff;
    }
</style>
</body>
</html>